/* Home page */
#intro {
  text-align: center;
  padding-top: 25px;
}

.lead {
  text-align: center;
  padding: 0px;
}

/* Projects page */
.content {
  align-self: center;
}

#boxes {
  border-color: #007bff; 
  border-style: solid;
  margin: 5px;
}

#images {
  width: 250px;
  height: 200px;
}

/* Contact page */
#form {
  padding-left: 25px;
}