/* Home page */
div.c-wrapper {
  width: 80%;
  margin: auto;
}

.carousel-inner > .carousel-item > img{
  width: 100%;
  margin: auto;
}
#intro {
  text-align: center;
  padding-top: 25px;
}

.lead {
  text-align: center;
  padding: 0px;
}

/* Projects page */
.content {
  align-self: center;
}

#boxes {
  border-color: black; 
  border-style: solid;
  margin: 5px;
}

#images {
  width: 250px;
  height: 200px;
}

#boxes:hover {
  border: 5px solid #007bff;
}

/* Contact page */
#form {
  padding-left: 25px;
}