/* Home page */
#intro {
  text-align: center;
  padding-top: 25px;
}

.lead {
  text-align: center;
  padding: 0px;
}

/* Projects page */
#boxes {
  border-color: #007bff; 
  border-style: solid;
  /* margin: 15px; */
}

#images {
  width: 425px;
  height: 200px;
}

/* Contact page */
#form {
  padding-left: 25px;
}